#DELETE IT LATER
Test/

#manual binaries
raytracer

#paterns
vgcore.*
mantest*
*test
*prof
show*
\#*\#
~*
*~
coding-style*

#dots
*.sh
*.out
*.txt
*.o
.vscode
*.mp3
*.gcda
*.gcno
*.obj
*.a
*.log
*.py
*.rdr
*.pdf
*.tgz
*.gch
*.so

#folders
emptyf/
example_files/
.idea/
bootstrap/

#others
libmy.a
maintest.*
.towers_pos
test.*
